@model ProductViewModel<string>
@{
    ViewData["Title"] = "Create";
}

<h1>Add New Product</h1>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()  <!-- This generates the anti-forgery token -->
    <input asp-for="PictureUrl" hidden/>
    <partial name="CreateEditPartialView" model="Model" />
    <br />
    <br />
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}